* Data clean up exercise

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
from scipy.stats import linregress

In [3]:
# uncleaned data file path
dataset_path = "uncleaned merged data.csv"

# read data
uncleaned_data = pd.read_csv(dataset_path)

# convert the uncleaned data into a Pandas DataFrame
uncleaned_df = pd.DataFrame(uncleaned_data)

uncleaned_df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,5/12/2016,0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0,0,0,1440,0
1,6290855005,5/10/2016,0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0,0,0,1440,0
2,8253242879,4/30/2016,0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0,0,0,1440,0
3,8583815059,5/12/2016,0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0,0,0,1440,0
4,3977333714,5/11/2016,746,0.5,0.5,0.0,0.37,0.0,0.13,0.0,4,0,9,13,52

In [4]:
# checking the number of unique ID's
id_count = uncleaned_df["Id"].nunique()
id_count

35

In [9]:
# find the duplicate rows by  ID, activity date and total distance
duplicate_df = uncleaned_df[uncleaned_df.duplicated(subset=["Id", "ActivityDate", "TotalSteps"])]

# Remove duplicates from the original data based on specific columns
cleaned_data = uncleaned_df.drop_duplicates(subset=['Id', 'ActivityDate', 'TotalSteps'])

# Save the duplicates and cleaned data to separate files
#duplicates_file_path =   # Update this path to your desired location
#cleaned_file_path = 'path/to/your/cleaned_data.csv'  # Update this path to your desired location

duplicate_df.to_csv("duplicates.csv", index=False)
cleaned_data.to_csv("cleaned_data.csv", index=False)